@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after { /*El valor determinado que tomará antes de y despues de cada elemto(todos los elementos)*/
    margin: 0; /*Margen entre cada uno de los elementos*/
    padding: 0; /*Relleno de cada elemento*/
    box-sizing: border-box; /*Forma del tamaño, tomará los valores igual a lo establecido en cuanto a ancho y alto*/
    font-size: calc(0.5em + 1vh); /*Calculará el tamaño de fuente dependiendo del dispositivo en ele que se visualice*/
}

/* El estilo base para moviles */
body { /*Estilo para todo el cuerpo de la página*/
    background-color: #112935; /*El color de fondo que tomara el body*/
    color: white; /*El color que tomara el texto que se encuentra dentro de body*/
    font-family: 'Montserrat', sans-serif; /*Tipo de fuente que tomara todo texto*/
    text-align: center; /*Alinea el texto al centro del todo el cuerpo de la página*/
    font-weight: 400; /*Achura normal de la fuente*/
}

.header { /*Estilo para la cabecera*/
    display: flex; /*Los elementos dento de la clase header seran organizados de forma felxible dependidendo de su tamaño*/
    justify-content: space-between /*Muestra los elementos que se encuentra dentro de la cabecera con la mima distancia en este caso a la etiqueta a y en nav*/
}

.src-only { /*Estilo para el h1*/
    display: none; /*No se muetra*/
}

.hide-mobile {
    display: none; /*Lo que se encuentre en la clase hide-mobile no se mostrará cuando este en version móvil*/
}

p{ /*Estilo para cada párrafo*/
    font-size: 0.75em; /*Tamano de su fuente*/
    padding: 1rem; /*Relleno del elemento*/
    line-height: 25px; /*Altura que contiene el texto en el párrafo*/
}

.logo { /*Estilo para el logotipo*/
    width: 90px; /*Ancho del logotipo*/
    margin: 1em; /*Margen que ocupa el logo*/
}

.options { /*Estilo del menu para version móvil*/
    color: inherit; /*Toma hereda el color blanco del body*/
    text-decoration: none; /*Remueve la decoración*/
    position: relative; /*Posiciona respecto al flujo normal de la página*/
    top: 30%; /*Espacio de la parte superior del elemento desde su posición por defecto*/
    right: 95%; /*Espacio de la derecha del elemento desde su posición por defecto*/
    font-size: 1.5rem; /*Tamaño del elemento(icono)*/

    display: flex; /*Los elementos dentro del contenedor serán organizados de forma flexible dependiendo de su tamaño*/
    flex-wrap: wrap; /*Para la distribución de los elementos, en este caso solo toma la líne principal*/
    align-items: flex-start; /*Alinea los elemntos verticalmente en la parte duperior*/

}
.options i:last-child { /*Toma el ultimo elemento dentro de la clase option (icono x)*/
    font-size: 1.6rem; /*Tamanño del icono X*/
}

/* Big area */
.big-hero img { /*Estilo para la imagen que esta dentro de la clase .big-hero*/
    width: 150px; /*Ancho que toma la imagen*/
}

.big-hero h2 { /*Estilo que tomael título que se encuentran dentro de la clase big-hero*/
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p {
    font-size: 0.7em;;
    color: #D7DEE6;

}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center

}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}


.green-area {
    background-color: #0AC693; 
}


.post {
    padding: 1em;
    margin-bottom: -2px;
}
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {
    list-style: none;
}

.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}

.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{
    margin-top: 2em;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

.bio-info img{
   width: 200px;
}

.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}

.contact * + * {
    margin-top: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

footer .social-links {
    margin: 0;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }


    .logo {
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }

    /*TODO: FALTA CSS */
    .header {
        margin: 0 0.5em;
    }

    .menu li a {
        text-transform: capitalize;
    }

    .menu li:last-child a {
        color: #F74442;
    }

    /*.big-hero>.container {
        margin: 2.5em;
    }*/

    .big-hero .social-links{
        margin: 0;
    }

    .social-links li{
        margin: 0 0.8em;
    }

    .social-links li a { 
        line-height: 2px;
        font-size: 80px;
    }
    
    .big-hero a {
        font-size: 70px;
        color: #0AC693;
        margin: 0%;
    }

    .green-area>.container .post {
        width: 100%;
    }
    
    .green-area>.container>h2 {
        text-align: center;
    }

    .green-area> .container>ul li article{
        height: 100%;
    }

    .about>.container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1em;
        /*margin: 1em;*/
    }

    .about>.container>h2 {
        width: 100%;
    }

    .about>.container>.bio-info {
        width: 50%;
    }
    
    .about>.container>.contact {
        width: 50%;
    }

    footer .social-links li{
        margin-top: 1em;
    }

} 

@media only screen and (min-width: 1024px) {

       /*TODO: FALTA CSS */




}

@media only screen and (min-width: 1440px) {

    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }
    
    
    .green-area>.container .post{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    
}